---
import { SITE } from "@config";
import type { Page } from "astro";
import type { CaseStudiesEntry } from "@config";
import Layout from "@layouts/Layout.astro";
import CaseStudyPreview from "./CaseStudyPreview.astro";
import Pagination from "@components/Pagination.astro";
import CaseStudiesHeader from "./CaseStudiesHeader.astro";
import Container from "@components/Container.astro";

export interface Props {
  page: Page<CaseStudiesEntry>;
  indexPage: string;
}

const { page, indexPage } = Astro.props;
const canonicalURL = new URL(SITE.caseStudies.base, Astro.site);
---

<Layout
  title="Case Studies"
  description="Explore Bowler Scaffolding Group's case studies. Discover our work on commercial, industrial, and specialist scaffolding projects across London and the UK."
  canonicalURL={canonicalURL}
>
  <CaseStudiesHeader heading="Our Work" />
  <div class="bg-zinc-100">
    <Container>
      <div class="py-24">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">
          {page.data.map((entry) => <CaseStudyPreview article={entry} />)}
        </div>

        <Pagination page={page} indexPage={indexPage} />
      </div>
    </Container>
  </div>
</Layout>
