---
import { ClientRouter } from "astro:transitions";
import type { Page } from "astro";
import type { CaseStudiesEntry } from "@env";
import Layout from "@layouts/Layout.astro";
import CaseStudyPreview from "./CaseStudyPreview.astro";
import Pagination from "@components/Pagination.astro";
import CaseStudiesHeader from "./CaseStudiesHeader.astro";
import Container from "@components/Container.astro";

export interface Props {
  page: Page<CaseStudiesEntry>;
  indexPage: string;
}

const { page, indexPage } = Astro.props;
---

<Layout
  title="News and Insights"
  description="News & Insights from Milton Keynes Scaffolding Specialists LTD"
>
  <ClientRouter slot="head" />
  <CaseStudiesHeader heading="Our Work" />
  <div class="bg-zinc-100">
    <Container>
      <div class="py-24">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">
          {page.data.map((entry) => <CaseStudyPreview article={entry} />)}
        </div>

        <Pagination page={page} indexPage={indexPage} />
      </div>
    </Container>
  </div>
</Layout>
