---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

---

<Layout title="Milton Keynes Scaffolding Specialists LTD">
	<main>
		<h1>Milton Keynes Scaffolding Specialists LTD</h1>
	</main>
</Layout>

