---
import ServiceContent from "@components/service-page/ServiceContent.astro";
import Layout from "@layouts/Layout.astro";

import CommercialImage1 from "@images/commercial/commercial-1.jpg";
import CommercialImage2 from "@images/commercial/commercial-2.jpg";
import CommercialImage3 from "@images/commercial/commercial-3.jpg";
import CommercialImage4 from "@images/commercial/commercial-4.png";
import CommercialImage5 from "@images/commercial/commercial-5.jpeg";

const pageContent = {
  heading: `Commercial <span class="text-primary">Scaffolding</span>`,
  subheading:
    "From shops and office buildings to factories and museums, we've handled a wide variety of commercial projects. With over two decades of experience, our team brings the precision and expertise needed for even the most complex jobs. Whether it's a high street refurbishment or work in confined spaces, clients trust us to deliver safe, reliable scaffolding tailored to their specific needs.",
  heroImageWide: CommercialImage4,
  heroImageTall: CommercialImage2,
  ctaLink: "/contact/",
  ctaText: "Contact us",
  features: [
    "Office blocks and schools",
    "Warehouses and factories",
    "Residential developments",
    "Retail outlet refurbishments",
    "Art galleries and museums",
    "Confined spaces",
    "Temporary roofs",
    "Church repairs",
    "Public access staircases",
    "Birdcage scaffolds",
  ],
  slides: [
    {
      image: CommercialImage1,
      caption: "Commercial Scaffolding",
    },
    {
      image: CommercialImage3,
      caption: "Commercial Scaffolding",
    },
    {
      image: CommercialImage5,
      caption: "Commercial Scaffolding",
    },
  ],
};

const description =
  "Milton Keynes-based specialists in commercial scaffolding, providing safe and efficient solutions for construction and maintenance projects.";
---

<Layout title="Commercial Scaffolding" description={description}>
  <ServiceContent pageContent={pageContent}>
    <h2>Comprehensive Project Support</h2>

    <p
      >We manage your project from start to finish, with a dedicated project
      manager available 24/7 to assist and collaborate with you at every stage.
      Our services are fully COVID secure, offering a socially distanced
      approach to ensure the safety of your staff and customers. From temporary
      roofs to public access staircases, we're committed to providing solutions
      that give you complete peace of mind.</p
    >
  </ServiceContent>
</Layout>
