---
import ServiceContent from "@components/service-page/ServiceContent.astro";
import Layout from "@layouts/Layout.astro";

import CommercialImage1 from "@images/commercial/commercial-1.jpg";
import CommercialImage2 from "@images/commercial/commercial-2.jpg";
import CommercialImage3 from "@images/commercial/commercial-3.jpg";
import CommercialImage4 from "@images/commercial/commercial-4.png";
import CommercialImage5 from "@images/commercial/commercial-5.jpeg";

const pageContent = {
  heading: `Commercial <span class="text-primary">Scaffolding</span>`,
  subheading:
    "From retail stores and office complexes to industrial sites and cultural landmarks, we've managed a diverse range of commercial scaffolding projects. With more than 25 years of industry experience, our team provides the skill and attention to detail required for even the most demanding tasks. Whether it's a city-centre refurbishment or scaffolding for restricted access areas, clients across the UK count on us for safe, dependable, and customised solutions.",
  heroImageWide: CommercialImage4,
  heroImageTall: CommercialImage2,
  ctaLink: "/contact/",
  ctaText: "Contact us",
  features: [
    "Corporate buildings and educational facilities",
    "Industrial units and manufacturing plants",
    "Housing developments",
    "Retail renovations",
    "Cultural spaces like galleries and museums",
    "Restricted access areas",
    "Weather protection systems",
    "Historic building restoration",
    "Public access scaffolding solutions",
    "Birdcage platforms",
  ],
  slides: [
    {
      image: CommercialImage1,
      caption: "Commercial Scaffolding",
    },
    {
      image: CommercialImage3,
      caption: "Commercial Scaffolding",
    },
    {
      image: CommercialImage5,
      caption: "Commercial Scaffolding",
    },
  ],
};
---

<Layout
  title="Commercial Scaffolding"
  description="Comprehensive commercial scaffolding solutions across the UK. Experts in temporary roofs, public access staircases, housing developments, renovations & more."
>
  <ServiceContent pageContent={pageContent}>
    <h2>Comprehensive Project Management</h2>

    <p>
      We provide end-to-end project management, with a dedicated project manager
      available 24/7 to support and coordinate at every stage. From temporary
      roofs to public access staircases, we deliver reliable scaffolding
      solutions designed to ensure safety and efficiency throughout your
      project. Our commitment to seamless execution gives you complete peace of
      mind.
    </p>
  </ServiceContent>
</Layout>
