---
import ServiceContent from "@components/service-page/ServiceContent.astro";
import Layout from "@layouts/Layout.astro";

import HeroSquare from "@images/domestic/domestic-square-1.jpeg";
import HeroTall from "@images/domestic/domestic-tall-1.jpeg";
import Slide1 from "@images/domestic/domestic-slide-1.jpeg";
import Slide2 from "@images/domestic/domestic-slide-2.jpeg";

const pageContent = {
  heading: `Domestic <span class="text-orange-500">Scaffolding</span>`,
  subheading:
    "Whether it's a simple scaffold for minor repairs or a full structure for your entire property, we've got you covered. Our experienced team handles everything from the initial design to safe dismantling, ensuring a smooth, hassle-free experience. With the skills and expertise to manage any residential project, we're here to support you every step of the way.",
  heroImageWide: HeroSquare,
  heroImageTall: HeroTall,
  ctaLink: "/contact/",
  ctaText: "Contact us",
  features: [
    "Elevation repairs",
    "Roof repairs",
    "Facia painting",
    "Glazing installations",
    "Solar panel installations",
    "Thatch installations/repairs",
    "Chimney stack painting/repairs",
    "Bridging over conservatories/extensions",
    "Temporary roofs",
    "Handrails/disabled access",
  ],
  slides: [
    {
      image: Slide1,
      caption: "Domestic Scaffolding",
    },
    {
      image: Slide2,
      caption: "Domestic Scaffolding",
    },
  ],
};

const description =
  "Milton Keynes-based domestic scaffolding experts offering safe, affordable solutions for home renovations, repairs, and access needs.";
---

<Layout title="Domestic Scaffolding" description={description}>
  <ServiceContent pageContent={pageContent}>
    <h2>Safe, Professional & Reliable Scaffolders</h2>

    <p
      >We understand how important safety is when working on your home. Our team
      of qualified and certified scaffolders follows strict safety standards and
      is trained to meet every specification, ensuring that your property is
      protected throughout the project. With years of experience in residential
      scaffolding, we offer a trustworthy service that gives homeowners peace of
      mind, whether it's a quick repair or a long-term installation.</p
    >
  </ServiceContent>
</Layout>
