---
import Layout from '../layouts/Layout.astro';
import Swiper from '../components/Swiper.astro';
import Services from '../components/ServicesShowcase.astro';
import About from '../components/AboutSection.astro';
import Testimonials from '../components/Testimonials.astro';
import Cta from '../components/cta.astro';

const description = "Reliable scaffolding services based in Milton Keynes. We specialize in domestic, commercial, industrial, and specialist scaffolding. Contact us for top-quality solutions."

---

<Layout title="Milton Keynes Scaffolding Specialists LTD" description={description}>
	<main>
		<Swiper />
		<Cta />
		<Services />
		<About />
		<Testimonials />
	</main>
</Layout>

