---
import Layout from '../layouts/Layout.astro';
import Swiper from '../components/Swiper.astro';
import Services from '../components/ServicesShowcase.astro';
import About from '../components/AboutSection.astro';
import Testimonials from '../components/Testimonials.astro';
import Cta from '../components/cta.astro';

const list = [
	{
		title: "def term 1",
		body: "def data 1"
	},
	{
		title: "def term 2",
		body: "def data 2",
		icon: "heroicons-solid:user"
	}
]
---

<Layout title="Milton Keynes Scaffolding Specialists LTD">
	<main>
		<Swiper />
		<Cta />
		<Services />
		<About />
		<Testimonials />
	</main>
</Layout>

