---
import Layout from "@layouts/Layout.astro";
import ServiceContent from "@components/service-page/ServiceContent.astro";
import IndustrialHeroImage from "@images/industrial/industrial-01.jpg";
import IndustrialHeroImage2 from "@images/industrial/scaffolding-tower.jpg";
import IndustrialSlide1 from "@images/industrial/industrial-slide-1.jpeg";
import IndustrialSlide2 from "@images/industrial/industrial-slide-2.jpeg";

const pageContent = {
  heading: `Industrial <span class="text-primary">Scaffolding</span>`,
  subheading:
    "With more than 25 years of industry expertise, we specialise in providing robust and adaptable scaffolding solutions for complex industrial environments. Our experienced team ensures safe, efficient, and hassle-free project delivery, making Bowler Scaffolding Group a trusted choice for industrial clients nationwide.",
  heroImageWide: IndustrialHeroImage,
  heroImageTall: IndustrialHeroImage2,
  ctaLink: "/contact/",
  ctaText: "Contact us",
  features: [
    "Maintenance work in power plants",
    "Lift shaft and void access scaffold",
    "Stairwell scaffolding",
    "Confined/isolated spaces",
    "Protection/storage gantries",
    "Demolition works",
    "Tank access scaffold",
    "Asbestos removal",
    "Oil rig works",
    "Concrete, formwork and shoring",
    "Slung access scaffolds",
    "Lifting gantries",
  ],
  slides: [
    {
      image: IndustrialSlide1,
      caption: "Industrial Scaffolding",
    },
    {
      image: IndustrialSlide2,
      caption: "Industrial Scaffolding",
    },
  ],
};

const description =
  "London-based experts in industrial scaffolding, providing safe and dependable solutions for construction, maintenance, and specialised access projects across the UK.";
---

<Layout title="Industrial Scaffolding" description={description}>
  <ServiceContent pageContent={pageContent}>
    <h2>Experienced & Certified Scaffolders</h2>

    <p>
      Our skilled and accredited scaffolders are prepared to handle projects of
      any scale or complexity—ranging from tight-access sites to major
      industrial facilities. Whether you need support for regular maintenance,
      heavy industrial works, or specialised tasks like demolition and hazardous
      material handling, we deliver safe, compliant scaffolding solutions to
      keep your project on track.
    </p>
  </ServiceContent>
</Layout>
