---
import Layout from "@layouts/Layout.astro";
import ServiceContent from "@components/service-page/ServiceContent.astro";
import IndustrialHeroImage from "@images/industrial/industrial-01.jpg";
import IndustrialHeroImage2 from "@images/industrial/scaffolding-tower.jpg";
import IndustrialSlide1 from "@images/industrial/industrial-slide-1.jpeg";
import IndustrialSlide2 from "@images/industrial/industrial-slide-2.jpeg";

const pageContent = {
  heading: `Industrial <span class="text-primary">Scaffolding</span>`,
  subheading:
    "With over two decades of hands-on experience, we deliver reliable and efficient scaffolding services tailored to meet the unique demands of industrial sites. Our dynamic approach ensures seamless project execution, making us a trusted partner for clients across various industries.",
  heroImageWide: IndustrialHeroImage,
  heroImageTall: IndustrialHeroImage2,
  ctaLink: "/contact/",
  ctaText: "Contact us",
  features: [
    "Maintenance work in power plants",
    "Lift shaft and void access scaffold",
    "Stairwell scaffolding",
    "Confined/isolated spaces",
    "Protection/storage gantries",
    "Demolition works",
    "Tank access scaffold",
    "Asbestos removal",
    "Oil rig works",
    "Concrete, formwork and shoring",
    "Slung access scaffolds",
    "Lifting gantries",
  ],
  slides: [
    {
      image: IndustrialSlide1,
      caption: "Industrial Scaffolding",
    },
    {
      image: IndustrialSlide2,
      caption: "Industrial Scaffolding",
    },
  ],
};

const description =
  "Milton Keynes-based experts in industrial scaffolding, offering safe, reliable solutions for construction, maintenance, and access needs.";
---

<Layout title="Industrial Scaffolding" description={description}>
  <ServiceContent pageContent={pageContent}>
    <h2>Skilled & Certified Scaffolders</h2>

    <p
      >Our highly trained and certified team is equipped to work on projects of
      all sizes and complexities—from confined spaces to large-scale power
      plants. Whether it's routine maintenance or specialised tasks like
      asbestos removal and demolition, we provide safe and compliant scaffolding
      solutions designed to keep your operations running smoothly.</p
    >
  </ServiceContent>
</Layout>
