---
import Layout from "@layouts/Layout.astro";
import ServiceContent from "@components/service-page/ServiceContent.astro";
import SpecialistImage1 from "@images/specialist/specialist-1.jpg";
import SpecialistImage2 from "@images/specialist/specialist-2.jpeg";
import SpecialistImage3 from "@images/specialist/specialist-3.jpg";

const pageContent = {
  heading: `Specialist <span class="text-primary">Scaffolding</span>`,
  subheading:
    "For projects that demand more than standard scaffolding, Bowler Scaffolding Group delivers expert solutions. Our capabilities include bespoke scaffolds such as cantilevered, truss-out, and free-standing structures. Whether using traditional tube & fitting or the advanced Layher System, we tailor every solution to your project's specific needs. To further streamline your project, we also offer hoardings, banners, and signage as part of our full-service approach.",
  heroImageWide: SpecialistImage1,
  heroImageTall: SpecialistImage2,
  ctaLink: "/contact/",
  ctaText: "Contact us",
  features: [
    "Cantilevered scaffolds",
    "Truss-out scaffolds",
    "Façade retention",
    "Buttressed free-standing scaffolds",
    "Temporary roofs and buildings",
    "Public access Layher staircases",
    "Support scaffolds",
    "Pedestrian footbridges & walkways",
    "Slung and suspended scaffolds",
    "Protection fans",
    "Pavement gantries",
    "Marine scaffolds",
    "Hoardings, banners & signage",
  ],
  slides: [
    {
      image: SpecialistImage3,
      caption: "Specialist Scaffolding",
    },
  ],
};

const description =
  "Nationwide specialist scaffolding services from Bowler Scaffolding Group, providing safe, bespoke solutions for complex and unique projects.";
---

<Layout title="Specialist Scaffolding" description={description}>
  <ServiceContent pageContent={pageContent}>
    <h2>Expertly Designed and Managed Solutions</h2>

    <p>
      Every specialist scaffold starts with a detailed plan developed by our
      experienced in-house design team. Once the design is finalised, senior
      scaffolders with CISRS Advanced Scaffolder qualifications oversee and
      approve the construction process. This guarantees that each scaffold is
      not only built to the highest safety standards but also precisely tailored
      to meet the unique demands of your project.
    </p>
  </ServiceContent>
</Layout>
