---
import Layout from "@layouts/Layout.astro";
import ServiceContent from "@components/service-page/ServiceContent.astro";
import SpecialistImage1 from "@images/specialist/specialist-1.jpg";
import SpecialistImage2 from "@images/specialist/specialist-2.jpeg";
import SpecialistImage3 from "@images/specialist/specialist-3.jpg";

const pageContent = {
  heading: `Specialist <span class="text-orange-500">Scaffolding</span>`,
  subheading:
    "When your project requires something beyond standard scaffolding, we're here to help. Our expertise covers bespoke scaffolds, including cantilevered, truss-out, and free-standing structures. Whether using tube & fitting or the versatile Layher System, we combine the strengths of both methods to deliver precise, dependable scaffolding solutions. To make things even easier, we also provide hoarding, banners, and signage as part of our comprehensive service.",
  heroImageWide: SpecialistImage1,
  heroImageTall: SpecialistImage2,
  ctaLink: "/contact/",
  ctaText: "Contact us",
  features: [
    "Cantilevered scaffolds",
    "Truss-out scaffolds",
    "Façade retention",
    "Buttressed free-standing scaffolds",
    "Temporary roofs and temporary buildings",
    "Public access Layher staircases",
    "Support scaffolds",
    "Pedestrian footbridges & walkways",
    "Slung and suspended scaffolds",
    "Protection fans",
    "Pavement gantries",
    "Marine scaffolds",
    "Hoardings, banners & signage",
  ],
  slides: [
    {
      image: SpecialistImage3,
      caption: "Specialist Scaffolding",
    },
  ],
};

const description =
  "Milton Keynes-based specialist scaffolding solutions for complex projects, ensuring safety, precision, and tailored access for unique requirements.";
---

<Layout title="Specialist Scaffolding" description={description}>
  <ServiceContent pageContent={pageContent}>
    <h2>Designed and Managed by Experts</h2>

    <p>
      Every bespoke scaffold begins with a carefully crafted plan from our
      in-house design team. Once the design is approved, only senior scaffolders
      holding CISRS Advanced Scaffolder qualification cards will oversee and
      sign off on its construction. This ensures that every structure meets the
      highest safety standards while being perfectly tailored to your project’s
      requirements.
    </p>
  </ServiceContent>
</Layout>
