---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import PageHeading from "@components/PageHeading.astro";

const pageContent = {
  heading: "Terms and Conditions",
  subheading: `Effective Date: <span class="font-medium">18th November 2024</span>`,
};

const description =
  "Bowler Scaffolding Group delivers expert scaffolding services for commercial, industrial, and specialist projects across the UK, with a focus on safety and quality.";
---

<Layout title="Terms and Conditions" description={description}>
  <main>
    <PageHeading
      heading={pageContent.heading}
      subheading={pageContent.subheading}
    />
    <Section>
      <div
        id="terms-and-conditions"
        class="px-6 md:px-12 pb-8 md:pb-12 pt-2 bg-white shadow-lg rounded-3xl max-w-5xl mx-auto prose prose-zinc"
      >
        <!-- Section 1 -->
        <div>
          <h2> 1. Use of the Site </h2>
          <ul>
            <li>
              You agree to use this Site only for lawful purposes and in a
              manner that does not infringe the rights of others or restrict or
              inhibit their use of the Site.
            </li>
            <li>
              You are prohibited from:
              <ul>
                <li>
                  Using the Site in any way that causes or may cause damage to
                  the Site or impair its functionality.
                </li>
                <li>
                  Using the Site to upload or transmit harmful or malicious
                  content, including viruses, worms, or spyware.
                </li>
              </ul>
            </li>
            <li>
              We reserve the right to suspend or terminate access to the Site
              for users who violate these terms.
            </li>
          </ul>
        </div>

        <!-- Section 2 -->
        <div>
          <h2> 2. Intellectual Property </h2>
          <ul>
            <li>
              All content on this Site, including text, images, logos, and other
              materials, is owned by or licensed to <strong
                >Bowler Scaffolding Group</strong
              >. It is protected by copyright, trademark, and other intellectual
              property laws.
            </li>
            <li>
              You may:
              <ul>
                <li>Access and view the content for personal use.</li>
                <li>
                  Print or download content for personal, non-commercial
                  purposes.
                </li>
              </ul>
            </li>
            <li>
              You may not:
              <ul>
                <li>
                  Copy, distribute, or reproduce content without prior written
                  consent.
                </li>
                <li>Use content for commercial purposes.</li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- Section 3 -->
        <div>
          <h2> 3. Third-Party Links </h2>
          <ul>
            <li>
              This Site may contain links to third-party websites. These links
              are provided for your convenience and do not signify our
              endorsement of such websites.
            </li>
            <li>
              We are not responsible for the content, policies, or practices of
              any third-party websites.
            </li>
          </ul>
        </div>

        <!-- Section 4 -->
        <div>
          <h2> 4. Limitation of Liability </h2>
          <ul>
            <li>
              While we strive to keep the Site accurate and up-to-date, we make
              no warranties or representations about the accuracy, completeness,
              or reliability of the content.
            </li>
            <li>
              To the fullest extent permitted by law, **Bowler Scaffolding
              Group** shall not be liable for any damages arising from your use
              of the Site, including:
              <ul>
                <li>Direct, indirect, or consequential losses.</li>
                <li>Loss of data or profits.</li>
              </ul>
            </li>
            <li>
              This limitation of liability does not exclude or limit liability
              for death or personal injury caused by negligence or fraudulent
              misrepresentation.
            </li>
          </ul>
        </div>

        <!-- Section 5 -->
        <div>
          <h2> 5. Privacy </h2>
          <p>
            Your use of the Site is also governed by our <a
              href="/privacy-policy/">Privacy Policy</a
            >.
          </p>
        </div>

        <!-- Section 6 -->
        <div>
          <h2> 6. Cookies </h2>
          <p>
            This Site uses cookies to improve user experience and analyse
            traffic. By using the Site, you consent to the use of cookies in
            accordance with our <a href="/cookie-policy/">Cookie Policy</a>.
          </p>
        </div>

        <!-- Section 7 -->
        <div>
          <h2> 7. Contact Us </h2>
          <p>
            If you have any questions about these Terms and Conditions, please
            contact us:
          </p>
          <ul>
            <li>
              Email: <a href="/contact/">Send email via our contact form</a>
            </li>
            <li>
              Phone: <a href="tel:08008247400">0800 824 7400</a>
            </li>
            <li
              >Address: 1 St Andrew's Hill, City of London, London EC4V&nbsp;5BY</li
            >
          </ul>
        </div>
      </div>
    </Section>
  </main>
</Layout>
