---
import Container from './Container.astro'
---

    <div class="relative">

        <div class="bg-orange-500 md:absolute md:z-50 md:top-0 md:right-0 md:w-full">
            <Container>

                <div class="bg-orange-500 md:rounded-3xl md:-translate-y-1/2 py-4 px-4 inline-flex flex-row gap-8 items-center justify-between w-full md:w-auto">
                    <div>
                        <p class="text-orange-50 font-bold text-xl">Ready to get started?</p>
                        <p class="text-orange-50">Our team are here for you!</p>
                    </div>
                    <a href="" class="border-2 border-white text-white rounded-2xl px-4 py-2 flex font-medium">Contact us</a>
                </div>
            </Container>
        </div>
    </div>
