---
import Container from './Container.astro'
---

    <div class="bg-orange-500 py-4 md:bg-transparent md:py-0 md:relative">
        <Container className="relative">
            <div class="md:absolute md:z-10">
                <div class="flex flex-wrap items-center justify-between md:bg-orange-500 md:py-4 md:px-6 md:rounded-3xl md:-translate-y-1/2">
                    <div class="md:mr-8 shrink-0 grow-0 my-2">
                        <p class="text-orange-50 font-bold text-xl">Ready to get started?</p>
                        <p class="text-orange-50">Our team are here for you!</p>
                    </div>
                    <a href="" class="border-2 border-white text-white rounded-2xl px-3 py-1 md:px-4 md:py-2 block font-medium my-2">Contact us</a>
                </div>

            </div>
        </Container>
    </div>
