---
import Container from "@components/Container.astro";
import { Icon } from "astro-icon/components";
import Monogram from "@components/Monogram.astro";

export type CTA = {
  heading: string;
  subheading?: string;
  href: string;
  buttonText: string;
};

interface Props {
  cta: CTA;
}

const { cta } = Astro.props;
---

<div
  class="bg-primary-500 md:bg-transparent py-4 md:py-0 relative overflow-hidden"
>
  <Container className="relative">
    <div
      class="flex flex-col items-start lg:flex-row lg:items-center justify-between gap-4 md:gap-8 bg-primary py-4 md:p-12 md:rounded-3xl md:relative md:overflow-hidden"
    >
      <Monogram
        class="absolute top-1/2 left-10 -translate-y-1/2 w-full lg:w-2/3 z-0 text-primary-600/30"
      />
      <div class="max-w-3xl relative text-zinc-900">
        <p class="text-2xl md:text-2xl font-bold antialiased">
          {cta.heading}
        </p>
        <p
          class="md:text-lg font-medium mt-4 leading-relaxed md:leading-relaxed"
        >
          {cta.subheading}
        </p>
      </div>
      <a
        href={cta.href}
        class="relative bg-white hover:ring-zinc-50/20 hover:ring-4 text-zinc-950 font-semibold rounded-full md:text-lg pl-8 pr-2 py-3 md:pl-8 md:pr-3 md:py-4 shrink-0 grow-0 transition-all hover:shadow-lg flex items-center gap-6"
        ><span>{cta.buttonText}</span>
        <div
          class="border border-current size-8 flex items-center justify-center rounded-full"
        >
          <Icon
            name="material-symbols:arrow-outward-rounded"
            size={16}
            class="size-5"
          />
        </div>
      </a>
    </div>
  </Container>
</div>
