---
import { Icon } from "astro-icon/components";
export interface Props {
  items: {
    title: string;
    body: string;
    icon?: string;
  }[];
  dark?: boolean;
}
const { items, dark } = Astro.props;
---

<dl class="space-y-8">
  {
    items.map((item) => (
      <div class="relative">
        <dt>
          <div class="absolute top-1 flex size-8 items-center justify-center rounded-lg border-2 border-orange-500 text-orange-500">
            <Icon name="ic:round-check" size={36} class="size-6" />
          </div>
          <p
            class:list={[
              "ml-14 text-base sm:text-lg font-medium leading-6",
              dark ? "text-white" : "text-zinc-900",
            ]}
          >
            {item.title}
          </p>
        </dt>
        <dd
          class:list={[
            "mt-2 ml-14 text-sm sm:text-base",
            dark ? "text-zinc-400" : "text-zinc-500",
          ]}
        >
          {item.body}
        </dd>
      </div>
    ))
  }
</dl>
