---
import { Image } from "astro:assets";
import Container from "./Container.astro";
import SocialLinks from "./SocialLinks.astro";
import Logo from "./Logo.astro";
import { Icon } from "astro-icon/components";

const services = [
  {
    title: "Commercial Scaffolding",
    url: "/commercial-scaffolding/",
  },
  {
    title: "Industrial Scaffolding",
    url: "/industrial-scaffolding/",
  },
  {
    title: "Specialist Scaffolding",
    url: "/specialist-scaffolding/",
  },
];

const information = [
  {
    title: "Home",
    url: "/",
  },
  {
    title: "About Us",
    url: "/about/",
  },

  {
    title: "Contact",
    url: "/contact/",
  },
];

const linkStyle = "text-base text-zinc-400 hover:text-white";
---

<footer class="bg-zinc-900">
  <Container className="py-16 lg:pt-28 lg:pb-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="grid grid-cols-1 gap-8 sm:col-span-2 sm:grid-cols-2 sm:gap-8">
        <div>
          <h3 class="text-base font-medium text-white">Services</h3>
          <ul class="mt-4 space-y-4">
            {
              services.map((service) => (
                <li>
                  <a href={service.url} class:list={[linkStyle]}>
                    {service.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div>
          <h3 class="text-base font-medium text-white">Information</h3>
          <ul class="mt-4 space-y-4">
            {
              information.map((page) => (
                <li>
                  <a href={page.url} class:list={[linkStyle]}>
                    {page.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <div
        class="col-span-2 grid grid-cols-1 md:grid-cols-2 gap-8 order-first lg:order-last"
      >
        <div>
          <h3 class="text-base font-medium text-white">Headquarters</h3>
          <div class="grid sm:max-md:grid-cols-2 sm:max-md:gap-4">
            <p class="text-base text-zinc-400 mt-4">
              1 St Andrew's Hill, City of London, London EC4V&nbsp;5BY
            </p>
            <ul class="mt-4 space-y-4">
              <li>
                <a
                  href="tel:08008247400"
                  class:list={[linkStyle, "flex items-center gap-2"]}
                >
                  <Icon name="ic:round-phone" size={16} />
                  <span>0800 824 7400</span>
                </a>
              </li>
              <li>
                <a
                  href="mailto:info@mkscaffolding.com"
                  class:list={[linkStyle, "flex items-center gap-2"]}
                >
                  <Icon name="ic:round-email" size={16} />
                  <span>info@mkscaffolding.com</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="order-first md:order-last flex flex-col justify-between">
          <a
            href="/"
            class="*:max-w-96"
            title="Milton Keynes Scaffolding Homepage"
          >
            <Logo theme="light" />
          </a>
          <div class="mt-12">
            <p class="text-sm text-zinc-400 mb-2">Find us on.</p>
            <div class="flex space-x-6">
              <SocialLinks
                className="text-zinc-400 hover:text-white"
                size={36}
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="mt-16 lg:mt-20 border-t text-sm text-zinc-400 border-zinc-700 pt-8 md:flex md:items-center md:justify-between"
    >
      <div class="flex gap-4 md:order-2">
        <a href="/privacy-policy/">Privacy Policy</a>
        <a href="/cookie-policy/">Cookie Policy</a>
        <a href="/terms-and-conditions/">Terms & Conditions</a>
      </div>
      <p class="mt-4 md:order-1 md:mt-0">
        &copy; 2025 Bowler Scaffolding Group. All rights reserved. Design by
        Planetwide Digital
      </p>
    </div>
  </Container>
</footer>
