---
import Grid from '../components/Grid.astro';
import Container from '../components/Container.astro';
import BarsMask from './BarsMask.astro';
interface Props {
    title: string;
    image?: string;
}
const { title, image } = Astro.props;

const lastWord = (string) => {
    const arrayFrom = [...string.split(' ')];
    arrayFrom[arrayFrom.length - 1] = `<span class="text-orange-500">${arrayFrom[arrayFrom.length - 1]}</span>`
    const newString = arrayFrom.join(' ');
    return newString;
}
---

<div class="relative bg-zinc-800 py-12">
    <div class="w-full h-full absolute top-0 bottom-0 left-0 right-0 text-zinc-700 opacity-40">
        <Grid size="100" id="slide-pattern" />
    </div>
    <Container className="relative flex items-center justify-between">
        <h1 class="text-white text-4xl font-bold" set:html={lastWord(title)}>{title}</h1>
        <div class="w-1/2 -translate-y-10">

            <BarsMask image={image} alt={title} />
        </div>
    </Container>
</div>
