---
import Section from "@components/Section.astro";

export interface Props {
  heading: string;
  subheading?: string;
}

const { heading, subheading } = Astro.props;
---

<Section theme="dark" pattern="full-fade">
  <div class="flex flex-col items-center text-center">
    <h1 class="text-white text-5xl font-semibold" set:html={heading} />
    {
      subheading && (
        <p class="text-zinc-400 mt-8 text-lg" set:html={subheading} />
      )
    }
    {
      Astro.slots.has("filter") && (
        <div class="mt-12 text-zinc-800">
          <slot name="filter" />
        </div>
      )
    }
  </div>
</Section>
