---
import Container from "../components/Container.astro";
import Grid from "../components/Grid.astro";

export interface Props {
  heading: string;
  subheading: string;
}

const { heading, subheading } = Astro.props;
---

<div class="bg-zinc-800 py-20 md:py-24 relative">
  <div class="absolute inset-0 text-zinc-700 opacity-40">
    <Grid size="100" id="header-pattern" />
  </div>
  <Container className="relative text-center">
    <h1 class="text-white text-5xl font-semibold" set:html={heading} />
    <p class="text-zinc-400 mt-8 text-lg" set:html={subheading} />
  </Container>
</div>
