---
import Grid from './Grid.astro'
import Container from './Container.astro';
import { Icon } from 'astro-icon'

const services = [
    {
        heading: 'Commercial Scaffolding',
        text: 'Our years of experience in the commercial sector means our customers are in safe hands. We will take care of your project from start to finish, leaving you to concentrate on the things that really matter.',
        image: '/images/6129.jpeg'
    },
    {
        heading: 'Industrial Scaffolding',
        text: 'Carrying out works of a specialist or sensitive nature isn’t a problem for us. Having a workforce of a highly trained professionals gives us the versatility to complete a variety of projects.',
        image: '/images/mk2-uai.jpg'
    },
    {
        heading: 'Domestic Scaffolding',
        text: 'For residential projects, you needn’t look any further than Milton Keynes Scaffolding Specialists. Our residential scaffolding service offers customers a seamless and stress-free experience.',
        image: '/images/scaff.jpeg'
    },
    {
        heading: 'Specialist Scaffolding',
        text: 'For bespoke scaffolds like suspended, truss-out and free-standing structures, Milton Keynes Scaffolding Specialists has the expertise to deliver precisely what you need.',
        image: '/images/fashion1.jpg'
    }, 
]
---

<section class=" bg-zinc-200 py-16 lg:py-24 relative overflow-hidden">
    <div class="absolute w-1/4 h-1/2 top-0 left-0 text-zinc-300">
        <Grid size="100" id="services-bg-top" />
    </div>
    <div class="absolute w-1/4 h-1/2 bottom-0 right-0 text-zinc-300">
        <Grid size="100" id="services-bg-bottom" />
    </div>

    <Container className="relative z-10">


        <div class="space-y-6 md:space-y-0 md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-4 xl:gap-6 mt-12 mb-8">

            {services.map(service => (
                <div class="bg-white rounded-3xl overflow-hidden relative hover:shadow-xl lg:hover:-translate-y-2 transiton-all">
                    <a href="#" class="group ">
                        <img src={service.image} alt="" class="w-full aspect-video lg:aspect-[4/3] object-cover rounded-3xl" />

                        <div class="w-12 h-12 absolute top-2 right-2 flex items-center justify-center rounded-full backdrop-blur-lg">
                            <div class="group-hover:bg-white flex items-center justify-center rounded-full w-8 h-8 transition-all">
                            
                                <Icon name="akar-icons:arrow-up-right" size={24} class="group-hover:text-zinc-800 shrink-0 grow-0 flex text-white transition-all" />
                            </div>
                        </div>
    
                        <div class="p-6">
                            <h2 class="text-base font-bold mb-2 text-zinc-800">{service.heading}</h2>
                            <p class="text-sm text-zinc-400">{service.text}</p>
                        </div>

                    </a>

                </div>
            ))}

        </div>
    </Container>
</section>