---
import { Icon } from "astro-icon/components";

export interface Props {
  className?: string;
  size?: number;
}

const { className, size } = Astro.props;

const links = [
  {
    network: "Facebook",
    icon: "fa6-brands:facebook-square",
    url: "https://www.facebook.com/mkscaff/",
  },
  {
    network: "Twitter",
    icon: "fa6-brands:twitter-square",
    url: "https://twitter.com/mkscaffolding",
  },
  {
    network: "Instagram",
    icon: "fa6-brands:instagram-square",
    url: "https://www.instagram.com/mkscaffoldingspecialists/",
  },
];
---

{
  links.map((link) => (
    <a href={link.url} class={className}>
      <span class="sr-only">{link.network}</span>
      <Icon name={link.icon} size={size || 24} />
    </a>
  ))
}
