---
import 'swiper/css';

import Grid from "./Grid.astro"
import { Icon } from 'astro-icon'

const testimonials = [
    {
        quote: "I'm not joking, this is the best scaffold i've seen in many many years. I'm very pleased, thank you very much!",
        author: "Steve Mann",
        company: "Neville Construction",
    },
    {
        quote: "I am an electrician by trade and when i needed scaffolding to install solar panels on my roof at home, I contacted Milton Keynes Scaffolding. I was extremely happy with the service I received. So much so that they are now the chosen scaffolding company for the energy company I work for.",
        author: "Pete W",
        company: "Electrician",
    },
    {
        quote: "I have used Milton Keynes Scaffolding on numerous occasions and always found them to be extremely efficient and helpful. The team are always willing to think outside the box and on many occasions offered some great advice!",
        author: "Andy L",
        company: "Snozone",
    },
]
---
<section class="bg-orange-500 py-24 overflow-hidden relative">
    <div class="absolute w-1/4 h-1/2 top-0 left-0 text-orange-400">
        <Grid size="100" id="testimonial-bg-top" />
    </div>
    <div class="absolute w-1/4 h-1/2 bottom-0 right-0 text-orange-400">
        <Grid size="100" id="testimonial-bg-bottom" />
    </div>
    <div class="max-w-7xl mx-auto px-4 md:px-6">
        <div class="flex gap-8 items-center justify-center">


            <div class="w-2/3">
                <div class="swiper testimonials w-full">
                    <div class="swiper-wrapper flex items-center">
                        {testimonials.map(testimonial => (
                            <div class="swiper-slide">
                                <blockquote>
                                    <div>
                                        <Icon name="fa:quote-left" size={48} class="text-orange-400 shrink-0 grow-0" />

                                        <p class="text-white font-medium text-xl mt-6">{testimonial.quote}</p>
                                    </div>

                                    <footer class="mt-6">
                                        <p class="text-base font-medium text-white">{testimonial.author}</p>
                                        <p class="text-base font-medium text-orange-100">{testimonial.company}</p>
                                    </footer>
                                </blockquote>
                            </div>
                        ))}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<script>
    import Swiper, { Autoplay } from 'swiper';
    
    var testimonialSwiper = new Swiper('.testimonials', {
        modules: [Autoplay],
        spaceBetween: 20,
        centeredSlides: true,
        autoplay: {
            delay: 7500,
            disableOnInteraction: false,
        }
    });
</script>