---
import { Picture } from "astro:assets";
import "swiper/css";
import "swiper/css/autoplay";

export type Slide = {
  image: ImageMetadata;
  caption: string;
};

export type Props = {
  slides: Slide[];
};

const { slides } = Astro.props;
---

<div class="swiper aspect-square">
  <div class="swiper-wrapper">
    {
      slides.map((slide) => (
        <div class="swiper-slide relative">
          <div class="rounded-3xl overflow-hidden">
            <Picture
              src={slide.image}
              alt={slide.caption}
              formats={["avif", "webp"]}
              widths={[480, 900, 600]}
              sizes={`(max-width: 600px) 480px, (max-width: 1024px) 900px, 600px`}
              loading="eager"
              class="w-full aspect-square object-cover"
            />
          </div>

          <div class="absolute bottom-0 right-0 bg-white py-4 px-6 inset-caption border-1 border-white rounded-tl-3xl">
            <svg
              class="absolute w-6 bottom-0 right-full"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 100 100"
            >
              <path
                d="M0 100h100V0c0 55.23-44.77 100-100 100Z"
                class="fill-white"
              />
            </svg>
            <svg
              class="w-6 absolute bottom-full right-0"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 100 100"
            >
              <path
                d="M0 100h100V0c0 55.23-44.77 100-100 100Z"
                class="fill-white"
              />
            </svg>
            <p class="font-bold">{slide.caption}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay } from "swiper/modules";
  let swiper: Swiper;

  swiper = new Swiper(".swiper", {
    modules: [Autoplay],
    spaceBetween: 0,
    centeredSlides: false,

    autoplay: {
      delay: 7500,
      disableOnInteraction: false,
    },
  });
</script>
