---
import type { Page } from "astro";
import { SITE } from "@config";
import type { NewsEntry } from "@config";
import Layout from "@layouts/Layout.astro";
import NewsPreview from "@components/news/NewsPreview.astro";
import Pagination from "@components/Pagination.astro";
import NewsHeader from "@components/news/NewsHeader.astro";
import Container from "@components/Container.astro";

export interface Props {
  page: Page<NewsEntry>;
  indexPage: string;
}

const { page, indexPage } = Astro.props;
const canonicalURL = new URL(SITE.news.base, Astro.site);
---

<Layout
  title="News and Insights"
  description="Stay updated with Bowler Scaffolding Group's latest news and insights. Explore industry updates, expert tips, and project highlights from our London-based team."
  canonicalURL={canonicalURL}
>
  <NewsHeader heading="News & Insights" />
  <div class="bg-zinc-100">
    <Container>
      <div class="py-24">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">
          {page.data.map((entry) => <NewsPreview article={entry} />)}
        </div>

        <Pagination page={page} indexPage={indexPage} />
      </div>
    </Container>
  </div>
</Layout>
